body{color:white;
font-family:cursive;
background:black;}
a{text-decoration:none;
color:white;}
img{width:500px;
height:500px;
align="center";}
main{background: url("standoff-2.png");
background-repeat:no-repeat;}
footer{background:linear-gradient(to left, brown,green);}
div{background:linear-gradient(to top, brown,blue);
width:100%;
height:60%;}